# install package requirements from setup.py
-e .
bumpversion
wheel
tox
twine
cryptography<=3.3

# Tests
pytest
pytest-django
pytest-pythonpath
pytest-cov
mock
factory_boy
django-extensions

# QA
flake8

mypy
django-stubs

pylint
pylint-django
pylint-common

black

# Docs

recommonmark
Sphinx
alabaster

# hooks
pre-commit
